.compteur {
    position: absolute;
    right: 10px;

    width: 140px;
    display: flex;
    
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    background-color: white ;
    border-radius: 5px;
    padding: 10px;
  }

  .banner {
    padding: 20px;
    border-bottom: 3px solid blueviolet;
    background-color: midnightblue;
    color: white;
  }